* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}
/* navbar */
nav {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 600;
  padding: 30px 50px 0px 50px;
  margin: 0 100px;
}
header.topbar {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}

.topbar .active {
  color: #000000;
}
nav.navigation {
  position: relative;
  display: block;
  float: left;
}
nav.user {
  position: relative;
  display: block;
  float: right;
}
nav ul {
  position: relative;
  display: block;
  float: left;
  list-style: none;
}
nav ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0px 12px;
}

nav ul li a {
  color: rgb(133, 133, 133);
}
nav ul li a:visited {
  color: rgb(133, 133, 133);
}
nav ul li a:hover {
  color: #000000;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: "Sofia Pro", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.main {
  max-width: 960px;
  padding: 0 40px;
  text-align: center;
}

#my-logo {
  box-shadow: 1em 1em 1.8em rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 17rem;
  animation-name: show;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  transform: translateY(60px);
  opacity: 0;
}

h1 {
  font-size: 44px;
  font-weight: 900;
  color: #131313;
  margin-bottom: 2%;
  animation-name: show;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}
h2 {
  font-size: 20px;
  font-weight: 900;
  color: #131313;
  margin-bottom: 2%;
  animation-name: show;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}
.skill-item {
  padding-top: 20px;
  width: 100vh;
  animation-name: show;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}
/* progress bar */
.progress {
  padding: 0;
  width: 90%;
  height: 30px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 6px;
}

.bar {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
  background: cornflowerblue;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: tahoma, arial, helvetica;
  font-size: 12px;
  color: white;
}

p {
  font-size: 18px;
  color: #767676;
  animation-name: show;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  animation-delay: 0.2s;
  opacity: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
  padding: 0;
  margin: 30px auto 0 auto;
}

ul li {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}

.footer p {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 10px;
}

ul li:first-child {
  animation-delay: 0.2s;
}

ul li:nth-child(2) {
  animation-delay: 0.3s;
}

ul li:nth-child(3) {
  animation-delay: 0.4s;
}

ul li:nth-child(4) {
  animation-delay: 0.5s;
}

ul li:nth-child(5) {
  animation-delay: 0.6s;
}

/* animations */

@keyframes show {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* hover */

.main ul li a svg * {
  fill: #000000;
  transition: all 0.2s ease-in-out;
}

.main ul li a:hover svg * {
  fill: #0051b4;
}

h1,
h2,
h3,
h4,
p {
  text-align: left;
}
ul {
  align-items: center;
  float: left;
  margin: 30px auto 0 auto;
}
ul li {
  margin-right: 30px;
}
#my-logo {
  max-width: 17rem;
  float: left;
  margin-right: 40px;
}

/* form */
